body {
    margin: 0;
}

.header {
    border: 5px solid black;
    background-color: black;
    color: white;
    text-align: center;
}

.q{
    display: flex;
    flex-direction: column;

    margin: 5vw;
}

input[type='text']{
    font-size: 1rem;
    text-align:center;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 0.5vw;
    border-color: red;
}